
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow admin write access and public read access for specific collections.
    match /commitments/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    match /academicAchievements/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    match /socialWorks/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    match /teamMembers/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    match /notices/{docId} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    // Allow anyone to submit feedback.
    // Only the admin can read or delete feedback.
    match /feedback/{docId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }
  }
}
