
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Admin UID from src/hooks/use-auth.tsx
      return request.auth.uid == 'jY5SNkuZxbgadjdZzSe9Favqs7n1';
    }

    match /commitments/{commitmentId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /academicAchievements/{achievementId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /socialWorks/{socialWorkId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /feedback/{feedbackId} {
      allow create: if true;
      allow read, delete: if isAdmin();
    }

    match /teamMembers/{memberId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /notices/{noticeId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /siteSettings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /gallery/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /testimonials/{testimonialId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /pre-votes/{voteId} {
        allow read: if true;
        allow update: if request.resource.data.count == resource.data.count + 1;
        allow create: if isAdmin();
        allow delete: if isAdmin();
    }
  }
}
