@font-face {
  font-family: 'Codepotro Abu Sayed';
  src: url('/Codepotro Abu Sayed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Li Shadhinata';
  src: url('/Li Shadhinata 2.0 Unicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 60% 15%;
    --foreground: 0 0% 98%;
    --card: 120 60% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 120 60% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 65% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 50% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 50% 25%;
    --muted-foreground: 120 30% 75%;
    --accent: 0 72% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 60% 25%;
    --input: 120 60% 25%;
    --ring: 120 65% 45%;
    --radius: 0.5rem;

    --chart-1: hsl(var(--primary));
    --chart-2: hsl(var(--accent));
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 120 60% 15%;
    --foreground: 0 0% 98%;
    --card: 120 60% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 120 60% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 65% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 50% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 50% 25%;
    --muted-foreground: 120 30% 75%;
    --accent: 0 72% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 60% 25%;
    --input: 120 60% 25%;
    --ring: 120 65% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

@layer utilities {
    .mask-image-lr {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    }
}
